doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ad
body(style={"font-family": "sans-serif", "background": "#f6d7ff"})

div Ad (
  code a
  |  element):
br
//- Won't store the partionned cookie
a(href='/register-source-href' alt='blue shoes' attributionsrc target='_blank') Click me

//- Will store the partionned cookie
//-  a(href='http://arapi-advertiser.localhost:8086/' alt='blue shoes' attributionsrc='/register-source-href' target='_blank') Click me
